[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
python-dotenv = "*"
langchain = "*"
flask = "*"
requests = "*"
langchain-community = "*"
pydantic = "*"
langsmith = "*"
openai = "*"
langchain-cli = "*"

[dev-packages]

[requires]
python_version = "3.12"
